<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>VNPOST</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">

        <div id="header-container">
        <!-- BEGIN HEADER -->
            <div class="header">

                <div class="header-left">
                    <a th:href="@{'/'}">
                       <img th:src="@{/img/logo.jpg}" />
                    </a>
                </div>

                <div class="header-right">
                    <!-- BEGIN HEADER TOP LINKS -->
                    <div class="top-links">
                        <ul>
                            <li><a href="#">Trang chủ</a>|</li>
                            <li><a href="#">Giới thiệu</a>|</li>
                            <li><a href="#">Sitemap</a>|</li>
                            <li><a href="#" class="top-links-user">Đăng nhập</a>|</li>
                            <li>Ngôn ngữ</li>
                            <li><a href="#" class="top-links-language">VN</a>|</li>
                            <li><a href="#" class="top-links-language">EN</a></li>
                        </ul>
                    </div>
                    <!-- END HEADER TOP LINKS -->

                    <div class="clear"></div>

                    <!--BEGIN FORM TOP SEARCH -->
                    <div class="top-search">
                        <form action="" method="post">
                            <input type="text" id="txtTopSearch"/>
                            <button type="submit" id="btnTopSearch">Tìm</button>
                        </form>
                    </div>
                    <!--END FORM TOP SEARCH -->

                    <div class="clear"></div>

                    <div class="top-follow-widget">
                    </div>

                    <div class="clear"></div>
                </div>

                <div class="clear"></div>

                <!-- BEGIN HEADER NAV BAR -->
                <div class="header-main-menu">
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#" class="nav-a-tag-active">Tin tức</a></li>
                        <li><a href="#">Dịch vụ</a></li>
                        <li><a href="#">Mạng lưới</a></li>
                        <li><a href="#">Văn bản</a></li>
                        <li><a href="#">Hỗ trợ</a></li>
                        <li><a href="#">Email</a></li>
                        <li><a href="#">Nội bộ</a></li>
                    </ul>
                </div>
                <!-- END HEADER NAV BAR -->

                <div class="clear"></div>
            </div>
            <!-- END HEADER -->
        </div>

        <div class="clear"></div>

        <!-- BEGIN CENTER CONTENT -->
        <div class="content-area">

            <!-- BEGEN LEFT CONTENT AREA -->
            <div class="content-left-area">
                <div class="content-left-block">
                    <div class="left-menu-block">
                        <h2>Tin tức mới nhất</h2>
                        <ul>
                            <li class="LiLeftActive"><a href="#" class="ArrowLeft">Home</a></li>
                            <li th:each="categItem : ${listCateg}"><a th:href="@{${'/category/' + categItem.id}}"
								class="ArrowLeft" th:utext="${categItem.name}">..</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END LEFT CONTENT AREA -->

            <!-- BEGIN MAIN CENTER CONTENT AREA -->
            <div class="main-content">
                <div id="news-content">

                    <div class="inside-breadcrumbs">
                        <span class="ibs-inactive"><a href="#">Trang chủ</a></span>&nbsp;>&nbsp;
                        <span class="ibs-inactive"><a href="#">Tin tức</a></span>&nbsp;>&nbsp;
                        <span class="ibs-active"><a href="#">Bưu chính quốc tế</a></span>
                    </div>

                    <div class="clear"></div>
                    <div class="slide-border"></div>

                    <div class="news-content-published">
                        <h1 th:utext="${PostItem.title}"></h1>
                        <div class="ncp-views">
                            (Lượt xem: 197)
                        </div>
                        <div class="clear"></div>
                        <div class="ncp-intro" th:utext="${PostItem.intro}">..</div>
                        <div class="clear"></div>
                        <!--
                        <div class="ncp-image">
                            <img src="img/18.jpg">
                        </div>
                        <div class="clear"></div>
                        -->
                        <div class="ncp-main-content" th:utext="${PostItem.content}">..</div>
                    </div>
                </div>
                <div id="comment-block">
                    <div class="comment-item" th:each="commentItem : ${listComment}">
                        <div class="comment-user-name" th:utext="${commentItem.name}">..</div>
                        <div class="comment-email" th:utext="${commentItem.email}">..</div>
                        <div class="comment-content" th:utext="${commentItem.content}">..</div>
                    </div>

                </div>
                <div id="new-comment-block">
                    <div class="div-txt-name">
                        <div class="new-comment-title">Name:</div>
                        <div class="new-comment-input"><input type="text" /></div>
                    </div>
                    <div class="div-txt-email">
                        <div class="new-comment-title">Email:</div>
                         <div class="new-comment-input"><input type="text" /></div>
                    </div>
                    <div class="div-txt-content">
                        <div class="new-comment-title">Content:</div>
                         <div class="new-comment-input"><textarea></textarea></div>
                    </div>
                  <div class="div-txt-button">
                        <button type="submit">Submit</button>

                    </div>
                </div>
            </div>
            <!-- END MAIN CENTER CONTENT AREA -->

            <div class="clear"></div>

            <div class="bottom-ads-images">
                <div class="bai-inner">
                    <a href="#"><img th:src="@{/img/ads1.png}"></a>
                    <a href="#"><img th:src="@{/img/ads2.png}"></a>
                    <a href="#"><img th:src="@{/img/ads3.png}"></a>
                </div>
            </div>

            <div class="clear"></div>
            <!-- BEGIN CENTER BOTTOM -->
            <div class="main-content-bottom">
                <div class="mcb-column">
                    <h3>Bưu chính chuyển phát</h3>
                    <ul>
                        <li><a href="#">Chuyển phát CMTND</a></li>
                        <li><a href="#">EMS</a></li>
                        <li><a href="#">VNQuickpost</a></li>
                        <li><a href="#">Bưu phẩm</a></li>
                        <li><a href="#">Khai giá</a></li>
                    </ul>
                </div>

                <div class="mcb-column">
                    <h3>Tài chính bưu chính</h3>
                    <ul>
                        <li><a href="#">Dịch vụ Chuyển tiền nhanh PayPost</a></li>
                        <li><a href="#">Đại lý Bảo hiểm</a></li>
                        <li><a href="#">Phân phối bán lẻ</a></li>
                        <li><a href="#">Chuyển tiền Bưu điện</a></li>
                        <li><a href="#">Thu hộ, chi hộ</a></li>
                    </ul>
                </div>

                <div class="mcb-column">
                    <h3>Viễn thông - CNTT</h3>
                    <ul>
                        <li><a href="#">Truyền thông</a></li>
                        <li><a href="#">Thẻ trường trực tuyến</a></li>
                        <li><a href="#">Thẻ di động trả trước</a></li>
                        <li><a href="#">Thẻ học ngoại ngữ Online</a></li>
                        <li><a href="#">Bộ hòa mạng ALO của Vinaphone</a></li>
                    </ul>
                </div>

                <div class="mcb-column">
                    <h3>Các dịch vụ khác</h3>
                    <ul>
                        <li><a href="#">Du lịch lữ hành</a></li>
                        <li><a href="#">Đại lý vé xe Hoàng Long</a></li>
                        <li><a href="#">AVG - Truyền hình An Viên</a></li>
                        <li><a href="#">Chuyển phát hồ sơ</a></li>
                    </ul>
                </div>
            </div>
            <!-- END CENTER BOTTOM -->


        </div>
        <!-- END CENTER CONTENT -->

        <div class="footer">
            <div class="footer-content">
                <h3>&copy; 2008 Tổng công ty bưu điện việt nam - VIETNAM POST</h3>
                <p>
                    Địa chỉ: Số 05 đường Phạm Hùng - Mỹ Đình - Từ Liêm - Hà Nội - Việt Nam
                </p>
                <p>
                    Email: vanphong@vnpost.vn - Ghi rõ nguồn "vnpost.vn" khi phát hành lại thông tin từ website này
                </p>
            </div>
        </div>
    </div>
</body>
</html>